.img-circle-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.flat-details {
  display: flex;
  align-items: center;
}

.flat-details h1 {
  font-size: 18px;
  margin-top: 0;
}

.flat-details p {
  font-size: 16px;
}

.flat-text {
  margin-left: 30px;
}

.owner-text {
  text-align: center;
}

.wrapper {
  background-color: white;
}

.booking-section {
  padding: 75px;
}




