<div id="team">
  <div class="team-content">
  <h2 class="text-center">This Badass Website Built By:</h2>
    <ul class="list-inline text-center">
  <% ["rrappeport", "sydneymango"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>
  </div>
</div>
